# macOS
.DS_Store

# Xcode user state and build products
DerivedData/
build/
xcuserdata/
*.xcuserstate

# Swift Package Manager local state
.build/
.swiftpm/

# Local development configuration
.sentryclirc
ComiNavi/DevContent/
