{
  "info": {
    "title": "ComiNavi API",
    "version": "2.0.0",
    "description": "Type-safe HTTP API for the current ComiNavi clients. The generated contract is the authoritative client boundary."
  },
  "servers": [
    {
      "url": "https://cominavi.net"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "crawlerSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ComiNavi-Signature",
        "description": "Versioned lowercase HMAC-SHA256 signature: `v1=<64 lowercase hex characters>`. The signed bytes are `<X-ComiNavi-Timestamp>.<Idempotency-Key>.<exact request body>`."
      },
      "crawlerTimestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ComiNavi-Timestamp",
        "description": "Unix timestamp in seconds. The server accepts a maximum clock skew of five minutes."
      },
      "crawlerIdempotencyKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Idempotency-Key",
        "description": "Stable collector batch identity. An exact replay returns the existing result; reusing it for different bytes conflicts."
      },
      "catalogPublisherSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ComiNavi-Signature",
        "description": "Versioned lowercase HMAC-SHA256 signature: `v1=<64 lowercase hex characters>`. The signed bytes are the newline-separated timestamp, idempotency key, HTTP method, path plus query, and SHA-256 digest of the exact request body. Manual publication and scheduled refresh runners use distinct secrets."
      },
      "catalogPublisherTimestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ComiNavi-Timestamp",
        "description": "Unix timestamp in seconds. The server accepts a maximum clock skew of five minutes."
      },
      "catalogPublisherIdempotencyKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Idempotency-Key",
        "description": "Stable catalog command identity. Exact replays recover the durable result; reusing the key for another action or payload conflicts."
      }
    },
    "schemas": {
      "CanonicalErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "minLength": 1
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "currentRevision": {
                "type": "integer",
                "minimum": 0
              },
              "currentPlan": {
                "type": "object",
                "additionalProperties": true
              },
              "wcIDs": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "invitationID": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          "nextAllowedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "openapi": "3.1.1",
  "paths": {
    "/api/v2/auth/circlems/start": {
      "post": {
        "operationId": "startCirclemsAuthentication",
        "summary": "Start Circle.ms authentication",
        "description": "Starts a backend-owned Circle.ms OAuth flow bound to the client instance and PKCE challenge.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "clientInstanceID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "environment": {
                    "enum": [
                      "production",
                      "sandbox"
                    ],
                    "type": "string"
                  },
                  "codeChallenge": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$"
                  }
                },
                "required": [
                  "requestId",
                  "clientInstanceID",
                  "environment",
                  "codeChallenge"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorizationURL": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "authorizationURL",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/circlems/complete": {
      "post": {
        "operationId": "completeCirclemsAuthentication",
        "summary": "Complete Circle.ms authentication",
        "description": "Consumes the short-lived OAuth completion code and installs the backend-owned Circle.ms credential before issuing a ComiNavi session.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "clientInstanceID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "completionCode": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$"
                  },
                  "codeVerifier": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9._~-]{43,128}$"
                  }
                },
                "required": [
                  "requestId",
                  "clientInstanceID",
                  "completionCode",
                  "codeVerifier"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenType": {
                      "const": "Bearer"
                    },
                    "authVersion": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "exclusiveMinimum": 0
                    },
                    "accessToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "refreshToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refreshExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-f]{32}$"
                        },
                        "displayName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "avatarURL": {
                          "type": "string"
                        },
                        "revision": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "enum": [
                                  "circlems",
                                  "google",
                                  "apple"
                                ],
                                "type": "string"
                              },
                              "environment": {
                                "enum": [
                                  "production",
                                  "sandbox"
                                ],
                                "type": "string"
                              },
                              "providerUserID": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "exclusiveMinimum": 0
                              },
                              "email": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "displayName",
                        "revision",
                        "identities"
                      ]
                    },
                    "credentialReceipt": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "clientInstanceID": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "provider": {
                          "const": "circlems"
                        },
                        "environment": {
                          "enum": [
                            "production",
                            "sandbox"
                          ],
                          "type": "string"
                        },
                        "subject": {
                          "type": "string",
                          "minLength": 1
                        },
                        "credentialRevision": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        }
                      },
                      "required": [
                        "requestId",
                        "clientInstanceID",
                        "provider",
                        "environment",
                        "subject",
                        "credentialRevision"
                      ]
                    }
                  },
                  "required": [
                    "tokenType",
                    "authVersion",
                    "accessToken",
                    "expiresAt",
                    "refreshToken",
                    "refreshExpiresAt",
                    "user",
                    "credentialReceipt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/google/entry-grant": {
      "post": {
        "operationId": "issueGoogleAuthenticationEntryGrant",
        "summary": "Issue a Google authentication entry grant",
        "description": "Consumes invitation-gated entry authority and binds a one-time Google sign-in grant to the supplied nonce.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "inviteToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "nonce",
                  "inviteToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entryGrant": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "entryGrant",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/google": {
      "post": {
        "operationId": "authenticateWithGoogle",
        "summary": "Authenticate with Google",
        "description": "Verifies a nonce-bound Google ID token and atomically issues or recovers the payload-bound ComiNavi session.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "idToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  },
                  "entryGrant": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  },
                  "nonce": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "requestId",
                  "idToken",
                  "entryGrant",
                  "nonce"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenType": {
                      "const": "Bearer"
                    },
                    "authVersion": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "exclusiveMinimum": 0
                    },
                    "accessToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "refreshToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refreshExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-f]{32}$"
                        },
                        "displayName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "avatarURL": {
                          "type": "string"
                        },
                        "revision": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "enum": [
                                  "circlems",
                                  "google",
                                  "apple"
                                ],
                                "type": "string"
                              },
                              "environment": {
                                "enum": [
                                  "production",
                                  "sandbox"
                                ],
                                "type": "string"
                              },
                              "providerUserID": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "exclusiveMinimum": 0
                              },
                              "email": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "displayName",
                        "revision",
                        "identities"
                      ]
                    }
                  },
                  "required": [
                    "tokenType",
                    "authVersion",
                    "accessToken",
                    "expiresAt",
                    "refreshToken",
                    "refreshExpiresAt",
                    "user"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/apple/entry-grant": {
      "post": {
        "operationId": "issueAppleAuthenticationEntryGrant",
        "summary": "Issue an Apple authentication entry grant",
        "description": "Consumes invitation-gated entry authority and binds a one-time Apple sign-in grant to the supplied nonce.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "inviteToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "nonce",
                  "inviteToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entryGrant": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "entryGrant",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/apple": {
      "post": {
        "operationId": "authenticateWithApple",
        "summary": "Authenticate with Apple",
        "description": "Verifies Apple identity proof, durably claims the one-time authorization code, and atomically issues or recovers the payload-bound ComiNavi session.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "identityToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  },
                  "authorizationCode": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  },
                  "entryGrant": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  },
                  "nonce": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "displayName": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "required": [
                  "requestId",
                  "identityToken",
                  "authorizationCode",
                  "entryGrant",
                  "nonce"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenType": {
                      "const": "Bearer"
                    },
                    "authVersion": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "exclusiveMinimum": 0
                    },
                    "accessToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "refreshToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refreshExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-f]{32}$"
                        },
                        "displayName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "avatarURL": {
                          "type": "string"
                        },
                        "revision": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "enum": [
                                  "circlems",
                                  "google",
                                  "apple"
                                ],
                                "type": "string"
                              },
                              "environment": {
                                "enum": [
                                  "production",
                                  "sandbox"
                                ],
                                "type": "string"
                              },
                              "providerUserID": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "exclusiveMinimum": 0
                              },
                              "email": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "displayName",
                        "revision",
                        "identities"
                      ]
                    }
                  },
                  "required": [
                    "tokenType",
                    "authVersion",
                    "accessToken",
                    "expiresAt",
                    "refreshToken",
                    "refreshExpiresAt",
                    "user"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/refresh": {
      "post": {
        "operationId": "refreshAuthenticationSession",
        "summary": "Refresh a ComiNavi session",
        "description": "Atomically rotates a single-use ComiNavi refresh token and returns the successor session.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenType": {
                      "const": "Bearer"
                    },
                    "authVersion": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "exclusiveMinimum": 0
                    },
                    "accessToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "refreshToken": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refreshExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-f]{32}$"
                        },
                        "displayName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "avatarURL": {
                          "type": "string"
                        },
                        "revision": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "enum": [
                                  "circlems",
                                  "google",
                                  "apple"
                                ],
                                "type": "string"
                              },
                              "environment": {
                                "enum": [
                                  "production",
                                  "sandbox"
                                ],
                                "type": "string"
                              },
                              "providerUserID": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "exclusiveMinimum": 0
                              },
                              "email": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "provider"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "displayName",
                        "revision",
                        "identities"
                      ]
                    }
                  },
                  "required": [
                    "tokenType",
                    "authVersion",
                    "accessToken",
                    "expiresAt",
                    "refreshToken",
                    "refreshExpiresAt",
                    "user"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v2/auth/logout": {
      "post": {
        "operationId": "logoutAuthenticationSession",
        "summary": "Log out a ComiNavi session",
        "description": "Durably advances the account authentication epoch. The bearer token is predecessor proof, not ordinary live-session authorization: an expired but correctly signed predecessor JWT may recover only the exact payload-bound logout receipt, or initiate logout when the submitted refresh token remains live.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "refreshToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  }
                },
                "required": [
                  "requestId",
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "authVersion": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        }
                      },
                      "required": [
                        "requestId",
                        "replayed",
                        "authVersion"
                      ]
                    }
                  },
                  "required": [
                    "receipt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/catalogs": {
      "get": {
        "operationId": "listCatalogs",
        "summary": "List published catalogs",
        "description": "Lists the current sanitized ComiNavi catalog manifest for every published Comiket.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "schemaVersion": {
                            "const": 1
                          },
                          "versionID": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 160,
                            "pattern": "^[A-Za-z0-9._-]+$"
                          },
                          "comiketNo": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 10000,
                            "exclusiveMinimum": 0
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "publishedAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "sourceUpdatedAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "artifact": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "pattern": "^\\/api\\/v2\\/catalogs\\/[1-9][0-9]*\\/versions\\/[A-Za-z0-9._-]+\\/artifact$"
                              },
                              "sha256": {
                                "type": "string",
                                "pattern": "^[0-9a-f]{64}$"
                              },
                              "bytes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "exclusiveMinimum": 0
                              },
                              "contentType": {
                                "const": "application/vnd.cominavi.catalog-v1+sqlite"
                              }
                            },
                            "required": [
                              "url",
                              "sha256",
                              "bytes",
                              "contentType"
                            ]
                          },
                          "counts": {
                            "type": "object",
                            "properties": {
                              "circles": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "layouts": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "images": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "circles",
                              "layouts",
                              "images"
                            ]
                          },
                          "capabilities": {
                            "type": "object",
                            "properties": {
                              "stableCircleIdentity": {
                                "const": "comiketNo+wcID"
                              },
                              "circleImages": {
                                "const": true
                              },
                              "commonImages": {
                                "const": true
                              }
                            },
                            "required": [
                              "stableCircleIdentity",
                              "circleImages",
                              "commonImages"
                            ]
                          }
                        },
                        "required": [
                          "schemaVersion",
                          "versionID",
                          "comiketNo",
                          "name",
                          "publishedAt",
                          "artifact",
                          "counts",
                          "capabilities"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/catalogs/{comiketNo}": {
      "get": {
        "operationId": "getCatalogManifest",
        "summary": "Get a published catalog manifest",
        "description": "Returns the current immutable sanitized catalog version and authenticated artifact URL for one Comiket.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "comiketNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 10000,
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaVersion": {
                      "const": 1
                    },
                    "versionID": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 160,
                      "pattern": "^[A-Za-z0-9._-]+$"
                    },
                    "comiketNo": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 10000,
                      "exclusiveMinimum": 0
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "publishedAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "sourceUpdatedAt": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "artifact": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "pattern": "^\\/api\\/v2\\/catalogs\\/[1-9][0-9]*\\/versions\\/[A-Za-z0-9._-]+\\/artifact$"
                        },
                        "sha256": {
                          "type": "string",
                          "pattern": "^[0-9a-f]{64}$"
                        },
                        "bytes": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "exclusiveMinimum": 0
                        },
                        "contentType": {
                          "const": "application/vnd.cominavi.catalog-v1+sqlite"
                        }
                      },
                      "required": [
                        "url",
                        "sha256",
                        "bytes",
                        "contentType"
                      ]
                    },
                    "counts": {
                      "type": "object",
                      "properties": {
                        "circles": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "layouts": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "images": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "circles",
                        "layouts",
                        "images"
                      ]
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "stableCircleIdentity": {
                          "const": "comiketNo+wcID"
                        },
                        "circleImages": {
                          "const": true
                        },
                        "commonImages": {
                          "const": true
                        }
                      },
                      "required": [
                        "stableCircleIdentity",
                        "circleImages",
                        "commonImages"
                      ]
                    }
                  },
                  "required": [
                    "schemaVersion",
                    "versionID",
                    "comiketNo",
                    "name",
                    "publishedAt",
                    "artifact",
                    "counts",
                    "capabilities"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/catalogs/{comiketNo}/versions/{versionID}/artifact": {
      "get": {
        "operationId": "downloadCatalogArtifact",
        "summary": "Download a published catalog artifact",
        "description": "Streams an immutable SQLite artifact. Supports ETag validation, If-Range, suffix ranges, and resumable byte ranges.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "comiketNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 10000,
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "versionID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160,
              "pattern": "^[A-Za-z0-9._-]+$"
            }
          },
          {
            "name": "range",
            "in": "header",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "if-range",
            "in": "header",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "if-none-match",
            "in": "header",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete artifact",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "const": "bytes"
                },
                "required": true
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "pattern": "^[0-9]+$"
                },
                "required": true
              },
              "Content-Type": {
                "schema": {
                  "const": "application/vnd.cominavi.catalog-v1+sqlite"
                },
                "required": true
              },
              "Digest": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                },
                "required": true
              }
            },
            "content": {
              "application/vnd.cominavi.catalog-v1+sqlite": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Requested byte range",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "const": "bytes"
                },
                "required": true
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "pattern": "^[0-9]+$"
                },
                "required": true
              },
              "Content-Type": {
                "schema": {
                  "const": "application/vnd.cominavi.catalog-v1+sqlite"
                },
                "required": true
              },
              "Digest": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                },
                "required": true
              },
              "Content-Range": {
                "schema": {
                  "type": "string",
                  "pattern": "^bytes [0-9]+-[0-9]+\\/[0-9]+$"
                },
                "required": true
              }
            },
            "content": {
              "application/vnd.cominavi.catalog-v1+sqlite": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Artifact ETag is unchanged",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "const": "bytes"
                },
                "required": true
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "pattern": "^[0-9]+$"
                },
                "required": true
              },
              "Content-Type": {
                "schema": {
                  "const": "application/vnd.cominavi.catalog-v1+sqlite"
                },
                "required": true
              },
              "Digest": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                },
                "required": true
              },
              "X-Content-Type-Options": {
                "schema": {
                  "const": "nosniff"
                },
                "required": true
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "415",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "416": {
            "description": "Requested byte range is not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            },
            "headers": {
              "Content-Range": {
                "required": false,
                "schema": {
                  "type": "string",
                  "pattern": "^bytes \\*/[0-9]+$"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "428": {
            "description": "428",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanonicalErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "head": {
        "operationId": "headCatalogArtifact",
[...]
